<!-- template_DocumentHeader -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="M1nforum example site">
	<title><%= viewModel.Title %></title>
	<link rel="stylesheet" href="/css/<%= viewModel.CSSFilename %>" />
</head>
<body>
	<nav class="nav" tabindex="-1" onclick="this.focus()">
		<div class="container">
			<a class="pagename current" href="/"><%= viewModel.SiteName %></a>
			<a href="/">Home</a>
			<% if (viewModel.User == null) { %>
			<a href="/login">Login</a>
			<% } else { %>
			<a href="/logout">Logout <%= viewModel.User.Username %></a>
			<% } %>
		</div>
	</nav>
	<div class="container">
		<h1 class="mb0"><%= viewModel.Header %></h1>
		<p class="mt0"><%= viewModel.Subheader %></p>
	</div>

	<% if (viewModel.FlashMessage != "") { var messageType = viewModel.FlashMessage.Split("-", 2)[0]; var messageBody = viewModel.FlashMessage.Split("-", 2)[1]; %>
	<div class="container">
		<div class="bg-<%= messageType %> white pv1 ph2 rounded">
			<%= messageBody %>
		</div>
	</div>
	<% } %>
<!-- /template_PageHeader -->


<!-- template_Categories -->
	<div class="container">
		<h2>Categories</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Topics</th>
					<th>Last Post</th>
				</tr>
			</thead>
			<tbody>
				<% for (var counter = 0; counter < viewModel.Categories.Count; counter++) {
					var category = viewModel.Categories[counter]; %>				
				<tr>
					<td><a href="/categories/<%= category.Id.ToString() %>"><%= category.Name %></a><br /><%= category.Description %></td>
					<td><%= category.TopicCountCache.ToString() %></td>
					<td>todo:  last post	</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<% if (viewModel.User != null && viewModel.User.IsAdmin == true ) { %>
		<a href="/category">new category</a>
		<% } %>

	</div>
<!-- /template_Categories -->


<!-- template_Topics -->
	<div class="container">
		<h2><a href="/categories/"><%= viewModel.Category.Name %></a> \ Topics</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Topic</th>
					<th>Comments</th>
					<th>Views</th>
					<th>Last Post</th>
				</tr>
			</thead>
			<tbody>
				<% for (var counter = 0; counter < viewModel.Topics.Count; counter++) {
				var topic = viewModel.Topics[counter]; %>
				<tr>
					<td><a href="/categories/<%= viewModel.Category.Id.ToString() %>/topics/<%= topic.Id.ToString() %>"><%= topic.Title %></a><br />By <%= topic.UserDisplayName %> on <%= topic.CreatedOn.ToString("MM/dd/yyyy, hh:mm tt") %> </td>
					<td><%= topic.CommentCountCache.ToString() %></td>
					<td><%= topic.ViewCountCache.ToString() %></td>
					<td>todo:  last post</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
<!-- /template_Topics -->


<!-- template_Comments -->
	<div class="container">
		<h2><a href="/categories/"><%= viewModel.Category.Name %></a> \ <a href="/categories/<%= viewModel.Category.Id.ToString() %>"><%= viewModel.Topic.Title %></a> \ Comments</h2>
		<p>
			<strong><%= viewModel.Topic.Title %></strong><br /><%= viewModel.Topic.CreatedOn.ToString("MM/dd/yyyy, hh:mm tt") %>
		</p>
		<p>
			<%= viewModel.Topic.Content %>
		</p>
		<table class="table">
			<tbody>
				<% for (var counter = 0; counter < viewModel.Comments.Count; counter++) {
				var comment = viewModel.Comments[counter]; %>
				<tr>
					<td>
						<p><strong>Comment By: <%= comment.UserDisplayName %></strong> <%= comment.Content %>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
<!-- /template_Comments -->

<!-- template_Login -->
	<div class="container">
		<form action="/login" method="POST">
			<fieldset class="b0 m0 p0">
				<input type="hidden" name="csrf" value="<%= viewModel.CSRF %>">
				<input type="hidden" name="ReturnURL" value="<%= viewModel.ReturnURL %>">
				<div class="row">
					<div class="col 6">
						<label for="username">Username:</label>
						<input class="card w-100" type="text" name="username" placeholder="username" required />
					</div>
					<div class="col 6"></div>
				</div>
				<div class="row">
					<div class="col 6">
						<label for="password">Password:</label>
						<input class="card w-100" type="password" name="password" placeholder="password" required />
					</div>
					<div class="col 6"></div>
				</div>
				<div class="row">
					<div class="col 6">
						Don't have an account? <a href="/signup?ReturnURL=<%= viewModel.ReturnURL %>">Signup</a> : <a href="/forgotpass">Forgot password?</a>
					</div>
					<div class="col 6"></div>
				</div>
				<div class="row">
					<div class="col 6">
						<input class="btn primary" type="submit" value="Login" />
					</div>
					<div class="col 6"></div>
				</div>
			</fieldset>
		</form>
	</div>
<!-- /template_Login -->


<!-- template_DocumentFooter -->
	<div class="mt1 bg-lightgray p2">
		<div class="container"><%= viewModel.Title %> | generated on <%= viewModel.GeneratedOn %></div>
	</div>
	<script>
	</script>
</body>
</html>
<!-- /template_DocumentFooter -->
	


